.header__lang-link label {
    margin: 0 0 0 18px;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 745px) {
	.header__lang-link label {
		font-size: 18px;
		line-height: 20px;
	}
}

.header__lang-link input[type=radio] {
    display: none;
}

.header__lang-link input[type=radio]:checked + label {
    text-decoration: underline;
}