.cover-background {
    background-image: url(../../images/__background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    max-width: 1184px;
    width: 100%;
}