.photo-grid__item {
    width: 284px;
}

@media screen and (max-width: 1250px) {
	.photo-grid__item {
		width: 300px;
	}
}

@media screen and (max-width: 968px) {
	.photo-grid__item {
		width: 352px;
	}
}

@media screen and (max-width: 745px) {
	.photo-grid__item {
		width: 288px;
	}
}