.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 1184px;
    width: 90%;
    margin: 28px 48px 56px 48px;
}

@media screen and (max-width: 1250px) {
	.header {
		margin: 28px 48px 48px 48px;
		/* width: 91%; */
	}
}

@media screen and (max-width: 960px) {
	.header {
		margin: 28px 24px 48px 24px;
		/* width: 95%; */
	}
}

@media screen and (max-width: 745px) {
	.header {
		margin: 16px 16px 48px 16px;
	}
}