.footer__links {
	min-width: 497px;
	display: flex;
}

@media screen and (max-width: 745px) {
	.footer__links {
		min-width: 150px;
		display: grid;
		grid-template-columns: fit-content;
		grid-template-rows: repeat(5, fit-content);
		gap: 32px;
	}
}