.place__paragraph {
	margin: 0 0 25px 0;
	max-width: 484px;
	width: 100%;
	font-size: 18px;
	line-height: 29px;
}

.place__paragraph:last-of-type {
	margin: 0;
}

@media screen and (max-width: 968px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26px;
	}
}

@media screen and (max-width: 745px) {
	.place__paragraph {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 16px;
	}
}