.lead__image {
    margin: 0;
    max-width: 984px;
    max-height: 615px;
    width: 100%;
}

.lead__image:last-of-type {
    position: fixed;
    max-width: 938px;
    width: 100%;
    margin: -525px auto 261px auto;
    z-index: 2;
}