.intro {
	margin: 92px 148px;
	align-self: flex-start;
}

@media screen and (max-width: 1183px) {
    .intro {
        margin: 92px 48px;
    }    
}

@media screen and (max-width: 1010px) {
    .intro {
        margin: 88px 24px;
    }
}

@media screen and (max-width: 745px) {
    .intro {
        margin: 64px 16px;
    }
}