.cover {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: 0 0 92px 0;
}

@media screen and (max-width: 968px) {
    .cover {
        margin: 0 0 88px 0;
    }
}

@media screen and (max-width: 745px) {
    .cover {
        margin: 0 0 64px 0;
    }
}