.footer {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     max-width: 1184px;
     width: 90%;
	margin: 0 48px 24px 48px;
}

@media screen and (max-width: 1279px) {
    .footer {
        width: 90%;
    }
}

@media screen and (max-width: 968px) {
    .footer {
        margin: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 745px) {
	.footer {
		justify-self: center;
		display: grid;
		grid-template-columns: fit-content;
		grid-template-rows: repeat(2, auto-fit);
		gap: 48px;
		max-width: 186px;
		width: 100%;
		margin: 0 auto 24px calc((100vw - 186px) / 3);
	}
}

@media screen and (max-width: 340px) {
	.footer {
		margin: 0 auto 24px 16px;
	}
}